:root {
    --background: #E2E3E9;
    --white: #fff;
    --danger: #f92672;
    --gray: #818181;
    --hover-dark: rgba(0, 0, 0, 0.1);
    --hover-white: rgba(255, 255, 255, 0.3);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    background: none;
    border: none;
}

h1,
h2,
h3,
caption,
h4,
h5,
h6 {
    font-weight: 900;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3,
caption {
    font-size: 1.1rem;
}

h4,
h5,
h6 {
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    h3,
    caption {
        font-size: 0.8rem;
    }

    h4,
    h5,
    h6 {
        font-size: 0.7rem;
    }
}

.titulo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.calc {
    display: block;
    width: 320px;
    height: 100%;
    background: var(--background);
    border: 2px solid var(--gray);
    padding: 0.156rem 0.312rem 0.625rem 0.312rem;
    border-radius: 10px;
}

.bar-nome {
    width: 100%;
    padding: 0.625rem;
    background: rgb(236, 236, 236);
    border-radius: 10px;
}

.gap-top {
    margin-top: 0.625rem;
}

.box-display {
    display: block;
    padding: 0.625rem;
    background: var(--white);
    height: 3.5rem;
    border-radius: 10px;
    text-align: right;
}

.display-form {
    color: var(--gray);
    white-space: nowrap;
    overflow: hidden;
    /* overflow: auto; */
    text-overflow: ellipsis;
}


.font-red {
    color: var(--danger)
}

.box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0.625rem;
}

.tecla {
    display: block;
    position: relative;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.625rem;
    margin: 0.125rem;
    width: 25%;
    border: 3px solid var(--gray);
}

.tecla::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    border-radius: 3px;

}

.tecla:hover:after {
    background: var(--hover-dark);
}