:root {
    --background: #fdbb2d;
    --white: #fff;
    --danger: #f92672;
    --gray: #818181;
    --hover-dark: rgba(0, 0, 0, 0.1);
    --hover-white: rgba(255, 255, 255, 0.3);
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    vertical-align: baseline;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
    background: none;
    border: none;
}

body {
    color: var(--white);
    background: rgb(0, 0, 0);
}

h1,
h2,
h3,
caption,
h4,
h5,
h6 {
    font-weight: 900;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3,
caption {
    font-size: 1.1rem;
}

h4,
h5,
h6 {
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    h3,
    caption {
        font-size: 0.8rem;
    }

    h4,
    h5,
    h6 {
        font-size: 0.7rem;
    }
}

.calc {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    border: solid 1px var(--gray);
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
}


.bar-nome {
    background-color: var(--background);
    width: 100%;
    padding: 0.625rem;
}

.titulo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.box-display {
    display: block;
    padding: 0.625rem;
    background: var(--white);
    height: 4.5rem;
    text-align: right;
    background-color: hsl(0, 0%, 30%);
}

.display-form {
    color: var(--gray);
    white-space: nowrap;
    overflow: hidden;
    /* overflow: auto; */
    text-overflow: ellipsis;
}


.font-red {
    color: var(--danger) !important;
}

.background {
    background-color: var(--background) !important;
}

.box {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 0.312rem;
}

.tecla {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    background: hsl(0, 0%, 30%);
    color: var(--white);
    border-radius: 10px;
    padding: 1.2rem;
    margin-inline: 0.125rem;
    width: 25%;
    /* border: 3px solid var(--gray); */
}

.tecla::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: transparent;
}

.tecla:hover:after {
    background: var(--hover-dark);
}

.background::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: transparent;
}

.background:hover::after {
    background-color: var(--hover-white) !important;
}